.name-title{
  display: flex;
  flex-direction: column;
}
.brush1{
  margin-right: -11px;
  height: 85%;
  transform: rotate(179deg);
}
.subtitle-container{
  display: flex;
  position: absolute;
  margin-left: 34px;
  top: 37px;
}
.subtitle{
  font-family: 'Montserrat', sans-serif;
  color: #FFFBF1;
  font-size: 15pt;
}
.circle-container{
  position: absolute;
  bottom: -24px;
  right: 89px;
}
.circle1{
  height: 633px;;
}
.page-container{
  position: absolute;
  left: 72px;
  bottom: 41px;
  transform: rotate(6deg);
}
.page{
  height: 516px;
}
.paintings-container{
  position: absolute;
  bottom: 10px;
}
.paintings{
  height: 516px;
  transition: ease-in 0.1s;
}
.paintings:hover{
  height: 548px;
  transform: rotate(8deg);
}
.marker-container{
  position: absolute;
  bottom: -80px;
}
.marker{
  height: 257px;
  transition: ease-in 0.1s;
}
.marker:hover{
  height: 287px;
  transform: rotate(8deg);
}
.dd-container{
  position: absolute;
  bottom: 305px;
  right: 81px;
}
.dd{
  height: 238px;
  -webkit-box-shadow: -2px 5px 14px -6px #52432D; 
  box-shadow: -2px 5px 14px -6px #52432D;
  border: 3px solid #ede9de;
  transform: rotate(4deg);
  transition: ease-in 0.1s;
}
.dd:hover{
  height: 258px;
  transform: rotate(8deg);
}