.name-title{
  display: flex;
  flex-direction: column;
}
.brush1{
  margin-right: -11px;
  height: 80%;
  transform: rotate(179deg);
}
.margin-brush{
  margin-left: -14px;
}
.subtitle-container{
  display: flex;
  position: absolute;
  margin-left: 34px;
  top: 37px;
}
.subtitle{
  font-family: 'Montserrat', sans-serif;
  color: #FFFBF1;
  font-size: 15pt;
}
.circle-container{
  position: absolute;
  bottom: 0px;
  right: 89px;
  overflow: hidden;
}
.circle1{
  left: 119px;
  height: 551px;
  position: relative;
  bottom: -21px;
}
.page-container{
  right: 0px;
  transform: rotate(-45deg);
  height: 300px;
}
.paintings-container{
  position: fixed;
  bottom: 64px;
  left: 55px;
  &:hover{
    .galerie-paint{
      display: flex;
      position: fixed;
      height: 95px;
      bottom: 523px;
      left: 109px;
    }
    .paintings{
      height: 548px;
      transform: rotate(4deg);
    }
  }
}
.galerie-paint{
  bottom: 523px;
  left: 109px;
  position: fixed;
  display: none;
  transition: ease-in 0.5s;
  transition-property: margin-right;
}
.paintings{
  height: 528px;
  transition: ease-in 0.1s;
}
.marker-container{
  position: fixed;
  bottom: -38px;
  &:hover{
    .marker{
      height: 281px;
      transform: rotate(4deg);
    }
    .poesie-paint{
      display: flex;
      position: fixed;
      height: 95px;
      left: 421px;
      bottom: 26px;
      transition-property: margin-right;
      transition: ease-in 0.1s;
    }
  }
}
.marker{
  height: 271px;
  transition: ease-in 0.1s;
}
.poesie-paint{
  position: fixed;
  left: 421px;
  bottom: 26px;
  display: none;
  transition: ease-in 0.1s;
  transition-property: margin-right;
}
.dd-container{
  position: absolute;
  bottom: 305px;
  right: 81px;
  &:hover {
    .histoire-paint{
      display: flex;
      left: 571px;
      position: fixed;
      bottom: 291px;
      height: 104px;
      transition-property: margin-right;
      transition: ease-in 0.1s;
    }
    .dd{
      height: 235px;
      transform: rotate(7deg);
    }
  }
}
.dd{
  height: 215px;
  left: 469px;
  position: fixed;
  bottom: 330px;
  -webkit-box-shadow: -2px 5px 14px -6px #52432D; 
  box-shadow: -2px 5px 10px -6px #52432D;
  border: 3px solid #ede9de;
  transform: rotate(4deg);
  transition: ease-in 0.1s;
}

.histoire-paint{
  left: 232px;
  position: fixed;
  bottom: 448px;
  height: 0px;
  width: 0px;
  display: none;
  transition: ease-in 0.1s;
  transition-property: margin-right;
}

@media only screen and (max-width: 600px) {
  
}