.modal-1{
  background-color: #08203d52 !important;
}

.img-modal{
  width: 290px;
}

.modal-content{
  top: 50px;
  padding: 1.5rem 1.5rem;
  border-radius: 0.5rem;
  width: 114% !important;
  margin-left: -15% !important;
  background-color: #eeebe3 !important;
}
@media (max-width: 830px){
  .modal-content{
    top: 50px;
    padding: 1.5rem 1.5rem;
    border-radius: 0.5rem;
    width: 100% !important;
    margin-left: 0px !important;
    background-color: #eeebe3 !important;
  }
}

.modal-header{
  padding: 0px !important;
  border-bottom: 0px !important;
  height: 50%;
  display: flex !important;
  align-items: flex-start !important;
}

.modal-header .btn-close {
  padding: calc(var(--bs-modal-header-padding-y) * 0.5) calc(var(--bs-modal-header-padding-x) * 0.5);
  margin: 0px !important;
}

.modal-title{
  display: flex !important;
  height: 100% !important;
  align-items: flex-end !important;
}

.modal-body{
  padding-top: 9px !important;
  padding-left: 0px !important;
  display: flex !important;
  justify-content: flex-start !important;
  color: #08203D;
  font-size: 15px;
}

.modal-content-container{
  width: 100%;
  padding-left: 40px;
}

.modal-title{
  font-family: "Cormorant SC", serif;
  color: #08203D;
  font-size: 25pt !important;
  line-height: 1 !important;
}
@media (max-width: 830px){
  .modal-dialog{
  margin: 1.5rem !important;
}
}
