.modal-1{
  background-color: #08203d52 !important;
}

.img-modal{
  width: 290px;
}

.modal-content{
  top: 50px;
  padding: 1.5rem 1.5rem;
  border-radius: 0.5rem;
  width: 130% !important;
  margin-left: -15% !important;
}

.modal-header{
  height: 8vh;
}

// .modal-body{
//   height: 72vh;
//   width: 100%;
// }

.modal-text{
  color: #FFFBF1;
  font-size: 22px;
}

.peinture-modal{
  max-height: 100%;
  max-width: 36vw;
}

.close-container{
  position: relative;
  margin: auto;
  height: 50px;
  cursor: pointer;
}

.leftright{
  height: 4px;
  width: 50px;
  position: absolute;
  background-color: #FFFBF1;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}

.rightleft{
  height: 4px;
  width: 50px;
  position: absolute;
  background-color: #FFFBF1;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
}

.label-modal{
  color: white;
  font-family: Helvetica, Arial, sans-serif; 
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all .3s ease-in;
  opacity: 0;
}
