@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Montserrat:ital,wght@0,400;0,500;1,300&display=swap');
a{
  text-decoration: none !important;
}
.global-background{
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
}
h1{
  font-family: 'Cinzel', serif;
  color: #08203D;
  font-size: 55pt !important;
  margin-bottom: -1.5rem !important;
}
h3{
  font-family: 'Cinzel', serif;
  color: #08203D;
  font-size: 30pt !important;
}
.overflow-none{
  overflow: hidden;
}
.overflow-visible{
  overflow: visible;
}
.scroll{
  overflow: auto;
  scroll-behavior: smooth;
  height: 100vh;
}
.p-text{
  color: #08203D;
  font-size: 22px;
}
button{
  background-color: transparent;
  border: none;
}
.bleu-body{
  background-color: #08203D;
  padding-left: 10rem;
  padding-right: 10rem;
}
.text-white{
  color: #FFFBF1 !important;
}


// LANDING ***********
.color-red{
  color: #a4181f !important;
}


// HEADER***********************************

.header-text1{
  font-family: 'Montserrat', sans-serif;
  color: #08203D;
  font-size: 13pt;
  font-weight: 400;
  margin: 0px;
  padding: 20px 16px 35px 16px;
}
.header-text2{
  font-family: 'Montserrat', sans-serif;
  color: #08203D;
  font-size: 13pt;
  font-weight: 400;
  margin: 0px;
  padding: 20px 16px 35px 16px;
}
.header-text3{
  font-family: 'Montserrat', sans-serif;
  color: #08203D;
  font-size: 13pt;
  font-weight: 400;
  margin: 0px;
  padding: 20px 16px 35px 16px;
}
.header-text4{
  font-family: 'Montserrat', sans-serif;
  color: #08203D;
  font-size: 13pt;
  font-weight: 400;
  margin: 0px;
  padding: 20px 16px 35px 16px;
}
.header-text1:hover{
  color: #FFFBF1;
  background-image: url(./images/home_brush.png);
  background-size: cover;
}
.header-text2:hover{
  color: #FFFBF1;
  background-image: url(./images/gallerie_brush.png);
  background-size: cover;
}
.header-text3:hover{
  color: #FFFBF1;
  background-image: url(./images/histoire_brush.png);
  background-size: cover;
}
.header-text4:hover{
  color: #FFFBF1;
  background-image: url(./images/poesie_brush.png);
  background-size: cover;
}
.painting-size{
  display: contents;
}



// GALERIE ***********************************

.galerie-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10rem;
  margin-right: 10rem;
}
.brush2{
  margin-top: 10px;
  width: 100%;
}
.painting{
  max-width: 320px;
  width: 100%;
  padding: 10px 5px 10px 5px;
}
.paintings_container{
  line-height: 0;
  -webkit-column-count: 3;
  -moz-column-count:    3;
  column-count:         3;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}



// MON HISTOIRE ****************************************
.dd-image{
  height: 75%;
}


// POESIE ************
.text-align-end{
  text-align: end;
}

.italic{
  font-style: italic;
}

.dd2{
  height: 390px;
}

.citation{
  border-left: 2px solid #FFFBF1;
  padding-left: 15px;
}

.date-container{
  display: flex;
  position: absolute;
  margin-left: 63px;
  top: 54px;
}

.date{
  font-family: "Montserrat", sans-serif;
  color: #FFFBF1;
  font-weight: 500;
  font-size: 20pt;
}
.date-bleu{
  font-family: "Montserrat", sans-serif;
  color: #08203D;
  font-weight: 500;
  font-size: 20pt;
  margin-right: 93px;
}
.dd5{
  right: 0px;
  height: 596px;
}