@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Cormorant+SC:wght@400;500&family=Montserrat:ital,wght@0,400;0,500;1,300&display=swap');
a{
  text-decoration: none !important;
}
.global-background{
  background-image: url(./images/background.jpg);
  background-attachment: scroll;
  height: 100vh;
  overflow: hidden;
}
h1{
  font-family: 'Cormorant SC', serif;
  font-weight: 500;
  color: #08203D;
  font-size: 64pt !important;
  margin-bottom: -1.9rem !important;
  line-height: 0.8 !important;
  margin-bottom: 10px !important;
}
h3{
  font-family: 'Cormorant SC', serif;
  color: #08203D;
  font-size: 30pt !important;
  line-height: 0.9 !important;
}
.overflow-none{
  overflow: hidden;
}
.overflow-visible{
  overflow: visible;
}
.scroll{
  overflow: auto;
  scroll-behavior: smooth;
  height: 100vh;
}
.p-text{
  color: #08203D;
  font-size: 20px;
}
.text-justify{
  text-align: justify;
}
button{
  background-color: transparent;
  border: none;
}
.bleu-body{
  background-color: #08203D;
  padding-left: 10rem;
  padding-right: 10rem;
}
.text-white{
  color: #FFFBF1 !important;
  text-align: end;
}
.brush-white-container{
  display: flex;
  justify-content: end;
  position: relative;
}
@media only screen and (max-width: 800px) {
  .col-8 {
    flex: 0 0 auto;
    width: 100% !important;
  }
}
@media only screen and (max-width: 1300px) {
  h1{
    font-family: 'Cormorant SC', serif;
    font-weight: 500;
    color: #08203D;
    font-size: 40pt !important;
    margin-bottom: -1.9rem !important;
    line-height: 0.8 !important;
    margin-bottom: 2px !important;
  }
  h3{
    font-family: 'Cormorant SC', serif;
    color: #08203D;
    font-size: 20pt !important;
    line-height: 0.9 !important;
  }
  .p-text{
    color: #08203D;
    font-size: 10px;
  }
  .row{
    display: flex;
    flex-direction: column;
  }
  .col-6{
    width: 100% !important;
    & p{
      text-align: justify;
      padding: 0px !important;
    }
  }
}




// LANDING ***********
.color-red{
  color: #a4181f !important;
}


// HEADER***********************************
.header-container{
  display: flex;
  justify-content: flex-end;
}
.header-text1{
  font-family: 'Montserrat', sans-serif;
  color: #08203D;
  font-size: 13pt;
  font-weight: 400;
  margin: 0px;
  padding: 20px 16px 35px 16px;
}
.header-text2{
  font-family: 'Montserrat', sans-serif;
  color: #08203D;
  font-size: 13pt;
  font-weight: 400;
  margin: 0px;
  padding: 20px 16px 35px 16px;
}
.header-text3{
  font-family: 'Montserrat', sans-serif;
  color: #08203D;
  font-size: 13pt;
  font-weight: 400;
  margin: 0px;
  padding: 20px 16px 35px 16px;
}
.header-text4{
  font-family: 'Montserrat', sans-serif;
  color: #08203D;
  font-size: 13pt;
  font-weight: 400;
  margin: 0px;
  padding: 20px 16px 35px 16px;
}
.header-text1:hover{
  color: #FFFBF1;
  background-image: url(./images/home_brush.png);
  background-size: cover;
}
.header-text2:hover{
  color: #FFFBF1;
  background-image: url(./images/gallerie_brush.png);
  background-size: cover;
}
.header-text3:hover{
  color: #FFFBF1;
  background-image: url(./images/histoire_brush.png);
  background-size: cover;
}
.header-text4:hover{
  color: #FFFBF1;
  background-image: url(./images/poesie_brush.png);
  background-size: cover;
}
.painting-size{
  display: contents;
}
@media only screen and (max-width: 1300px) {
  .header-container{
    display: flex;
    justify-content: center ;
    margin-bottom: 20px;
  }
  .header-text1{
    font-family: 'Montserrat', sans-serif;
    color: #FFFBF1;
    font-size: 10pt;
    font-weight: 400;
    margin: 15px 7px;
    border-radius: 15px;
    padding: 7px 11px 7px 11px;
    background-color: #08203D;
  }
  .header-text2{
    font-family: 'Montserrat', sans-serif;
    color: #FFFBF1;
    font-size: 10pt;
    font-weight: 400;
    margin: 15px 7px;
    border-radius: 15px;
    padding: 7px 11px 7px 11px;
    background-color: #08203D;
  }
  .header-text3{
    font-family: 'Montserrat', sans-serif;
    color: #FFFBF1;
    font-size: 9pt;
    font-weight: 400;
    margin: 16px 7px;
    border-radius: 15px;
    padding: 7px 11px 7px 11px;
    background-color: #08203D;
  }
  .header-text4{
    font-family: 'Montserrat', sans-serif;
    color: #FFFBF1;
    font-size: 10pt;
    font-weight: 400;
    margin: 15px 7px;
    border-radius: 15px;
    padding: 7px 11px 7px 11px;
    background-color: #08203D;
  }
}





// GALERIE ***********************************

.galerie-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10rem;
  margin-right: 10rem;
}
.brush2{
  margin-top: 10px;
  width: 100%;
}
.painting{
  max-width: 320px;
  width: 100%;
  padding: 10px 5px 10px 5px;
}
.painting:hover{
  max-width: 320px;
  width: 100%;
  cursor: pointer;
  padding: 10px 5px 10px 5px;
}
.paintings_container{
  line-height: 0;
  -webkit-column-count: 3;
  -moz-column-count:    3;
  column-count:         3;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.center-paintings{
  display: flex;
  justify-content: center;
}



@media (min-width: 576px){
  .container{
    margin: 0px !important;
  }
}
@media (min-width: 830px){
  .container{
    max-width: 100% !important;
  }
}


@media only screen and (max-width: 1300px) {
  .galerie-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
  }
  .paintings_container{
    line-height: 0;
    -webkit-column-count: 3;
    -moz-column-count:    3;
    column-count:         3;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .bleu-body{
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 690px) {
  .galerie-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
  }
  .paintings_container{
    line-height: 0;
    -webkit-column-count: 2;
    -moz-column-count:    2;
    column-count:         2;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}






// SON HISTOIRE ****************************************
.dd-image{
  height: 75%;
}
.p-text-histoire{
  color: #08203D;
  font-size: 15px;
}
.livre{
  height: 516px;
}
@media only screen and (max-width: 1300px) {
  .p-text-histoire{
    color: #08203D;
    font-size: 13px;
    line-height: 1.2;
  }
  .livre{
    height: 306px;
  }
}



// POESIE ************
.text-align-end{
  text-align: end;
}
.brush-white-size{
  height: 95px;
  margin-top: 22px;
}
.italic{
  font-style: italic;
}

.dd2{
  height: 390px;
}
.dd4{
  height: 414px;
}

.citation{
  border-left: 2px solid #FFFBF1;
  padding-left: 15px;
}

.date-container{
  display: flex;
  position: absolute;
  margin-left: 63px;
  top: 54px;
}

.date{
  font-family: "Montserrat", sans-serif;
  color: #FFFBF1;
  font-weight: 500;
  font-size: 20pt;
}
.date-bleu{
  font-family: "Montserrat", sans-serif;
  color: #08203D;
  font-weight: 500;
  font-size: 20pt;
  margin-right: 93px;
}
.spider{
  height: 380px;
}
.img-sticky{
  position: sticky;
  top: 145px;
}
.news-heigh{
  max-height: 530px;
}
.papa-img{
  height: 340px;
}
.poesie-libre{
  height: 500px;
}
.young{
  height: 450px;
  padding-left: 90px;
}


@media only screen and (max-width: 800px) {
  .text-white{
    color: #FFFBF1 !important;
    text-align: start;
  }
  .brush{
    height: 84px;
  }
  .date-container{
    display: flex;
    position: absolute;
    margin-left: 39px !important;
    top: 33px !important;
  }
  .date{
    font-family: "Montserrat", sans-serif;
    color: #FFFBF1 ;
    font-weight: 500 !important;
    font-size: 11pt !important;
  }
  .date-bleu{
    font-weight: 500 !important;
    font-size: 11pt !important;
  }
  .brush-white-container{
    display: flex;
    justify-content: start;
    position: relative;
  }
  .brush-white-size {
    height: 76px !important;
    margin-top: 7px !important;
  }
  .spider {
    height: 360px ;
  }
  .poesie-libre {
    height: 422px;
    margin-bottom: 30px;
  }
  .papa-img {
    height: 217px;
  }
  .news-heigh {
    max-height: 343px;
    margin-bottom: 30px;
  }
  .dd4 {
    height: 291px;
  }
  .young {
    height: 303px;
    padding-left: 46px;
  }
  .pt-5{
    padding-top: 1rem !important;
  }
  .pb-5{
    padding-bottom: 1rem !important;
  }
  .mt-5{
    margin-top: 1rem !important;
  }
  .mb-5{
    margin-bottom: 1rem !important;
  }
}